body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    background: white;
}

.calculator {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 360px;
    box-shadow: 0 0 8px rgb(176, 176, 176);
}

.previous {
    font-size: 14px;
    color: rgb(108, 106, 106);
    text-align: right;
    margin-bottom: 5px;
}

/* DISPLAY FIX */
#display {
    width: 100%;
    height: 70px;
    font-size: 36px;
    text-align: right;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background: #ffffff;
}

.clear-btn {
    width: 100%;
    padding: 15px;
    background: #ff9f1c;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Numbers + Operators layout side by side */
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}

/* Number Pad */
.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    background: #d8e8ff;
    padding: 15px;
    border-radius: 12px;
    flex: 1;
}

.keys button {
    background: #4da3ff;
    border: none;
    height: 55px;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.equal {
    background: #8b5cf6;
}

/* Operators section */
.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.operators button {
    background: #99d98c;
    border: none;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
}
